In [2]:
import spacy
nlp = spacy.load('en_core_web_sm')

In [3]:
import nltk
import numpy as np
import pandas as pd

In [4]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

sid = SentimentIntensityAnalyzer()

In [5]:
df = pd.read_csv('Australian_tennis .tsv')
df.head()

                                              report
0  World number one Ashleigh Barty confirmed she ...
1  SYDNEY (AP) — Top-ranked Ash Barty is set to l...
2  Top-ranked Ash Barty is set to lead Australia’...
3  The quarantine controversy over tennis' Austra...
4  Kyrgios, who retired from his third round matc...

In [75]:
df["SentimentScore"] = df['report'].apply(lambda report: sid.polarity_scores(report))

In [76]:
df['negative']  = df['SentimentScore'].apply(lambda score_dict: score_dict['neg'])
df['neutral']  = df['SentimentScore'].apply(lambda score_dict: score_dict['neu'])
df['positive']  = df['SentimentScore'].apply(lambda score_dict: score_dict['pos'])
df['compound']  = df['SentimentScore'].apply(lambda score_dict: score_dict['compound'])

In [77]:
df

,report,SentimentScore,negative,neutral,positive,compound
0,World number one Ashleigh Barty confirmed she ...,"{'neg': 0.017, 'neu': 0.888, 'pos': 0.095, 'co...",0.017,0.888,0.095,0.9698
1,SYDNEY (AP) — Top-ranked Ash Barty is set to l...,"{'neg': 0.039, 'neu': 0.845, 'pos': 0.115, 'co...",0.039,0.845,0.115,0.9812
2,Top-ranked Ash Barty is set to lead Australia’...,"{'neg': 0.038, 'neu': 0.841, 'pos': 0.121, 'co...",0.038,0.841,0.121,0.9859
3,The quarantine controversy over tennis' Austra...,"{'neg': 0.071, 'neu': 0.81, 'pos': 0.12, 'comp...",0.071,0.810,0.120,0.9835
4,"Kyrgios, who retired from his third round matc...","{'neg': 0.078, 'neu': 0.88, 'pos': 0.042, 'com...",0.078,0.880,0.042,-0.8828
5,The Serb has now claimed three of a possible f...,"{'neg': 0.044, 'neu': 0.858, 'pos': 0.097, 'co...",0.044,0.858,0.097,0.9575

In [78]:
df["Sentiment"] =  df['compound'].apply(lambda x: 'neg' if x < 0  else('neut' if x == 0 else 'pos'))

In [79]:
df

,report,SentimentScore,negative,neutral,positive,compound,Sentiment
0,World number one Ashleigh Barty confirmed she ...,"{'neg': 0.017, 'neu': 0.888, 'pos': 0.095, 'co...",0.017,0.888,0.095,0.9698,pos
1,SYDNEY (AP) — Top-ranked Ash Barty is set to l...,"{'neg': 0.039, 'neu': 0.845, 'pos': 0.115, 'co...",0.039,0.845,0.115,0.9812,pos
2,Top-ranked Ash Barty is set to lead Australia’...,"{'neg': 0.038, 'neu': 0.841, 'pos': 0.121, 'co...",0.038,0.841,0.121,0.9859,pos
3,The quarantine controversy over tennis' Austra...,"{'neg': 0.071, 'neu': 0.81, 'pos': 0.12, 'comp...",0.071,0.810,0.120,0.9835,pos
4,"Kyrgios, who retired from his third round matc...","{'neg': 0.078, 'neu': 0.88, 'pos': 0.042, 'com...",0.078,0.880,0.042,-0.8828,neg
5,The Serb has now claimed three of a possible f...,"{'neg': 0.044, 'neu': 0.858, 'pos': 0.097, 'co...",0.044,0.858,0.097,0.9575,pos

In [80]:
df['Sentiment'].value_counts()

pos    5
neg    1
Name: Sentiment, dtype: int64

In [6]:
df.head()

                                              report
0  World number one Ashleigh Barty confirmed she ...
1  SYDNEY (AP) — Top-ranked Ash Barty is set to l...
2  Top-ranked Ash Barty is set to lead Australia’...
3  The quarantine controversy over tennis' Austra...
4  Kyrgios, who retired from his third round matc...

In [8]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(stop_words="english", max_df=0.95, min_df=2)

dtm = cv.fit_transform(df["report"])

In [9]:
from sklearn.decomposition import LatentDirichletAllocation

LDA = LatentDirichletAllocation(n_components = 5, random_state = 1122)

In [12]:
LDA.components_[0]

array([0.20000369, 0.20000231, 0.20000225, 0.20000891, 0.20000369,
       0.20000354, 0.20000231, 0.20000231, 0.20000601, 0.20000974,
       0.20000369, 0.20000289, 0.20000231, 0.20000402, 0.20000446,
       0.20000795, 0.20000463, 0.20000314, 0.20000231, 0.20000231,
       0.20000351, 0.20000231, 0.20000232, 0.20000389, 0.20000403,
       0.20000891, 0.20000231, 0.20000891, 0.20000231, 0.20000231,
       0.20000513, 0.20000891, 0.20000879, 0.20000384, 0.20000225,
       0.20000411, 0.20000389, 0.20000202, 0.20000605, 0.20000321,
       0.20000492, 0.20000231, 0.20000231, 0.20000214, 0.20000605,
       0.20000231, 0.2000062 , 0.20000231, 0.20000231, 0.20000231,
       0.20000678, 0.20000231, 0.20000667, 0.20000354, 0.20000604,
       0.20000231, 0.20000389, 0.20000214, 0.20000231, 0.20000232,
       0.20000232, 0.20000354, 0.20000231, 0.20000369, 0.20000231,
       0.20000482, 0.20000231, 0.20000636, 0.20000231, 0.2000037 ,
       0.20000231, 0.20001173, 0.20000231, 0.20000351, 0.20000231,
       0.20001024, 0.20000861, 0.20000231, 0.20000513, 0.20000232,
       0.20000482, 0.20000605, 0.20000354, 0.20000231, 0.20000482,
       0.20000369, 0.20000231, 0.20000337, 0.20000231, 0.20000561,
       0.20000351, 0.20000341, 0.20000231, 0.20000231, 0.20000369,
       0.20000231, 0.20000743, 0.20000403, 0.20000513, 0.20000743,
       0.20000662, 0.20000571, 0.20000513, 0.20000369, 0.20000232,
       0.20000231, 0.20000329, 0.20000231, 0.20000592, 0.20001035,
       0.20000231, 0.20000369, 0.20001003, 0.20000231, 0.20000369,
       0.20000369, 0.20000214, 0.20000549, 0.20000231, 0.20000446,
       0.20000354, 0.20000354, 0.20000231, 0.20001003, 0.20000891,
       0.20000231, 0.20000371, 0.20000369, 0.20000369, 0.20000231,
       0.20000446, 0.20000463, 0.20000214, 0.20000231, 0.2000062 ,
       0.20000231, 0.20000558, 0.20000231, 0.20000891, 0.20000369,
       0.20000231, 0.20000231, 0.20000222, 0.20000354, 0.20000231,
       0.20000353, 0.20000341, 0.20000369, 0.20000231, 0.20000544,
       0.20000605, 0.20000482, 0.20000998, 0.20000231, 0.20000369,
       0.20000231, 0.20000214, 0.20000369, 0.20000231, 0.20000231,
       0.2000062 , 0.20000588, 0.20000599, 0.20000371, 0.20001035,
       0.20000231, 0.20000447])

In [11]:
LDA.fit(dtm)

LatentDirichletAllocation(n_components=5, random_state=1122)

In [14]:
single_topic = LDA.components_[0]

In [15]:
top_10_w = single_topic.argsort()[-10: ]
top_10_w

array([124,  27,   9, 152, 112, 123,  75, 109, 164,  71], dtype=int64)

In [16]:
for index in top_10_w:
    print(cv.get_feature_names()[index])

rio
confirmed
ahead
tournament
pulled
right
just
post
wouldn
international

In [18]:
for i in range(5):
    
    index = LDA.components_[i].argsort()[-20:]
    print(f"TOP TEN WORDS OF THE TOPIC #{i}")
    print([cv.get_feature_names()[j] for j in index])
    print("\n")

TOP TEN WORDS OF THE TOPIC #0
['french', 'nick', 'olympic', 'australia', 'kyrgios', 'covid', 'country', 'competing', '2016', 'skipping', 'rio', 'confirmed', 'ahead', 'tournament', 'pulled', 'right', 'just', 'post', 'wouldn', 'international']


TOP TEN WORDS OF THE TOPIC #1
['including', 'season', 'barred', 'second', 'able', 'australia', 'just', 'tournament', '19', 'days', 'year', 'covid', 'state', 'going', 'games', 'athletes', 'restrictions', 'ahead', 'djokovic', 'players']


TOP TEN WORDS OF THE TOPIC #2
['country', 'confirmed', 'international', 'play', 'team', 'millman', 'john', 'champion', 'world', 'number', 'compete', 'men', 'olympic', 'doubles', 'singles', 'kyrgios', 'minaur', 'stosur', 'games', 'barty']


TOP TEN WORDS OF THE TOPIC #3
['storm', 'excited', 'selected', 've', 'green', 'really', 'opportunity', 'gold', 'announced', 'french', 'pandemic', 'doubles', 'play', 'match', 'wimbledon', 'won', 'round', 'kyrgios', 'barty', 'team']


TOP TEN WORDS OF THE TOPIC #4
['french', 'nick', 'olympic', 'australia', 'kyrgios', 'covid', 'country', 'competing', '2016', 'skipping', 'rio', 'confirmed', 'ahead', 'tournament', 'pulled', 'right', 'just', 'post', 'wouldn', 'international']

In [22]:
df["report"][0]

'World number one Ashleigh Barty confirmed she will compete at the Tokyo Olympics Tuesday, headlining an 11-strong Australian tennis team for the Games that includes firebrand Nick Kyrgios.\n\nBarty\'s announcement comes just a day after four-time gold medallist Serena Williams revealed she would be skipping the Games, which will also be without Spanish great Rafael Nadal.\n\nThe 2019 French Open champion Barty, 25, said she intended to compete in both singles and doubles at the Games, adding "I can\'t wait to be a part of it".\n\n"Competing in an Olympic Games is always a dream as young kids you aspire to," she said.\n\nThe Australia team comprises six men and five women, including former US Open champion Sam Stosur who will be going to her fifth Olympic Games at the age of 37.\n\nWorld number 15 Alex de Minaur is the top-ranked Australian man, with the volatile Kyrgios likely to be one of the highest profile male players in the draw, despite his modest ranking of 60.\n\nBoth will play singles with De Minaur also featuring in the doubles.In contrast to veteran Stosur, Barty De Minaur and Kyrgios will all be making their Olympic debuts in Tokyo.\n\n"It\'s super special being able to represent your country in one Olympics let alone five," said Stosur, who also competed at Athens 2004, Beijing 2008, London 2012 and Rio 2016.\n\nStosur and Barty are joined by Ajla Tomljanovic in the women\'s singles, with Barty teaming up with Storm Sanders in the women\'s doubles and Stosur with Ellen Perez.\n\nJohn Millman and James Duckworth join Kyrgios and De Minaur, who won the Eastbourne International last week, in the men\'s singles.\n\nMillman will partner Luke Saville and John Peers will play with De Minaur in the men\'s doubles.'