In [1]:
import nltk
import numpy as np
import pandas as pd

In [2]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

sid = SentimentIntensityAnalyzer()

In [3]:
df = pd.read_csv('USA_Basketball.tsv')
df.head()

                                              report
0  TOKYO — The indisputable reality of the U.S. m...
1  Selected for the U.S. Olympic Team 2020, which...
2  “USA Basketball selects players to represent o...
3  Tokyo Olympic Games 2020\nThe rescheduled Summ...
4  A pre-Olympic bubble in Las Vegas for the Unti...

In [4]:
df["SentimentScore"] = df['report'].apply(lambda report: sid.polarity_scores(report))

In [5]:
df['negative']  = df['SentimentScore'].apply(lambda score_dict: score_dict['neg'])
df['neutral']  = df['SentimentScore'].apply(lambda score_dict: score_dict['neu'])
df['positive']  = df['SentimentScore'].apply(lambda score_dict: score_dict['pos'])
df['compound']  = df['SentimentScore'].apply(lambda score_dict: score_dict['compound'])

In [6]:
df

,report,SentimentScore,negative,neutral,positive,compound
0,TOKYO — The indisputable reality of the U.S. m...,"{'neg': 0.09, 'neu': 0.791, 'pos': 0.119, 'com...",0.090,0.791,0.119,0.9905
1,"Selected for the U.S. Olympic Team 2020, which...","{'neg': 0.0, 'neu': 0.86, 'pos': 0.14, 'compou...",0.000,0.860,0.140,0.9940
2,“USA Basketball selects players to represent o...,"{'neg': 0.009, 'neu': 0.894, 'pos': 0.097, 'co...",0.009,0.894,0.097,0.9938
3,Tokyo Olympic Games 2020\nThe rescheduled Summ...,"{'neg': 0.0, 'neu': 0.855, 'pos': 0.145, 'comp...",0.000,0.855,0.145,0.9965
4,A pre-Olympic bubble in Las Vegas for the Unti...,"{'neg': 0.0, 'neu': 0.929, 'pos': 0.071, 'comp...",0.000,0.929,0.071,0.9750

In [7]:
df["Sentiment"] =  df['compound'].apply(lambda x: 'neg' if x < 0  else('neut' if x == 0 else 'pos'))

In [8]:
df

,report,SentimentScore,negative,neutral,positive,compound,Sentiment
0,TOKYO — The indisputable reality of the U.S. m...,"{'neg': 0.09, 'neu': 0.791, 'pos': 0.119, 'com...",0.090,0.791,0.119,0.9905,pos
1,"Selected for the U.S. Olympic Team 2020, which...","{'neg': 0.0, 'neu': 0.86, 'pos': 0.14, 'compou...",0.000,0.860,0.140,0.9940,pos
2,“USA Basketball selects players to represent o...,"{'neg': 0.009, 'neu': 0.894, 'pos': 0.097, 'co...",0.009,0.894,0.097,0.9938,pos
3,Tokyo Olympic Games 2020\nThe rescheduled Summ...,"{'neg': 0.0, 'neu': 0.855, 'pos': 0.145, 'comp...",0.000,0.855,0.145,0.9965,pos
4,A pre-Olympic bubble in Las Vegas for the Unti...,"{'neg': 0.0, 'neu': 0.929, 'pos': 0.071, 'comp...",0.000,0.929,0.071,0.9750,pos

In [9]:
df['Sentiment'].value_counts()

pos    5
Name: Sentiment, dtype: int64